{
  "development": {
    "GA_ACCOUNT_ID": 1234567,
    "GA_WEB_PROPERTY": "UA-1234567-1",
    "GA_PROFILE_ID": 7654321,
    "GA_PRIVATE_KEY": "A VERY LONG KEY",
    "GA_CLIENT_EMAIL": "some_odd@sort.of.mail",
    "MC_KEY": "ap1-key-f0rma1lchimp",
    "MC_USER": "userName"
  }
}
