{
  "development": {
    "GA_ACCOUNT_ID": 1234567, // replace
    "GA_WEB_PROPERTY": "UA-1234567-1", // replace
    "GA_PROFILE_ID": 7654321, // replace
    "GA_PRIVATE_KEY": "A VERY LONG KEY", // replace
    "GA_CLIENT_EMAIL": "some_odd@sort.of.mail" // replace
  }
}
